@using WeeklyScheduleExample
@using WeeklyScheduleExample.Models
@using WeeklyScheduleExample.App_GlobalResources

@model DayOfTheWeek

@{
	IHtmlString breaksContainerId = Html.GetBreaksId();
	IHtmlString breaksDialogId = Html.Raw("dialogFor" + breaksContainerId);
}

<div id="@breaksContainerId" class="breaksContainer" style="@Html.IsBreakContainerVisible()" onclick="javascript:ShowBreaks(this, '@breaksDialogId', '@Html.GetBreaksDialogTitle()');"></div>
<div id="@breaksDialogId" class="breaksDialog">
	@foreach (BreakControlInfo breakHours in Html.GetBreaks())
	{
		<div class="break">
			<div class="break">@breakHours.BreakControl</div>
			<div><img class="deleteBreak"
					src="@Url.Content("~/Content/img/delete.png")"
					title="@Resources.DeleteTitle"
					alt="@Resources.DeleteTitle"
					style="@breakHours.IsDeleteButtonVisible"
					onclick="javascript:DeleteBreak($(this));"
					onmouseover="javascript:this.src='@Url.Content("~/Content/img/deleteActive.png")';"
					onmouseout="javascript:this.src='@Url.Content("~/Content/img/delete.png")';" /></div>
		</div>
	}
</div>